name: Run main.py

on:
  schedule:
    - cron: "30 18 * * *"  # 12:00 AM IST
    - cron: "30 6 * * *"   # 12:00 PM IST
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    environment: poster

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: python main.py
